.boardContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
}

@media (max-width: 900px) {
  .boardContainer {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .boardContainer {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
  }
}
